body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 16px;
    row-gap: 20px;
}

.item {
    margin: 0;
    /*consider solution margin: auto;*/
}

.item:hover {
    box-shadow: 0 2px 4px 2px rgb(128, 128, 128, 0.5);
    transition: box-shadow .15s;
}

tr:nth-child(even) {
    background-color: rgb(128, 128, 128, 0.2);
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

div {
    padding-left: 20px;
}

header {
    background-color: rgb(228, 83, 39);
    box-shadow: 0 1px 1px 1px black;
}

footer {
    padding-top: 24px;
    margin-top: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 0px;
    background-color: rgb(150, 230, 150)
}

h1 {
    color: darkgreen;
    padding-left: 40px;
}

h2 {
    padding-left: 40px;
}

h2 {
    font-size: 20px;
}

header a {
    color: white;
}

a {
    color: rgb(44, 133, 44);
    text-decoration: none;
}
